#footer{

    .row{
        padding: 2rem 0;
    .icons{
        font-size: 1.2em;
            i{
                color: black;
                padding-right: 1rem;
            }
        

    }

    .copy{
        span{
            float: right

        }
    }
}
}
