#references{
    .row{
        display: flex;
        padding: 6.25rem 0;
        .col-4{
            background-color: white;
            width: 30%;
            text-align: center;
            padding: 3rem;

            h1{
                font-size: 1.1rem;
            }

            p{
                padding: 3rem 0;
                font-size: 1rem;
            }
        }
    }
}
