#text{
    background-color: #efeee9;
    @include desktop{
        padding: 11rem;
    };
}
.text_cont{
    padding: 2rem;
    @include desktop{
        width: 100%;
        max-width: 730px;
    };

}
.some_text{
    background-color: white;
    text-align: center;
    padding: 100px 0;

    h1{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        color: #686868;
        text-align: center;
    }

    p{
        font-size: 1.25rem;
        font-weight: 300;
        text-align: left;
        padding: 5rem 0;
    }

    button{
        border: 2px solid black;
        background-color: white;
        text-transform: uppercase;
        width: 25rem;
        height: 5rem;
        font-size: 2rem;
        @include desktop{
            width: 13rem;
            height: 3.75rem;
            font-size: 1.1rem;
        };

    }
}

#some_text{
    background-color: #efeee9;
    padding: 11rem;

    p{
        font-size: 2.1rem;
        text-align: center;
        font-weight: 300;
    }
}
