@import "grid";
@import "mixins";
@import "header";
@import "text";
@import "portfolio";
@import "buttons";
@import "references";
@import "map";
@import "footer";
@import "nav";
@import "overlay";


*{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  max-width: 1010px;
}

body{
    background-color: #efeee9;
}
